.modal-content {
    height: 35rem;
    margin-top: 15%;
    position: absolute !important;
    left: 50%;
    transform: translate(-50%, 5%);
}

.modal-dialog {
    width: 100vw !important;
}

.header-div {
    position: sticky;
    box-shadow: 0 3px 10px -7px black;
    display: flex;
    justify-content: space-between;
}

.header-divs {
    position: sticky;
    box-shadow: 0 3px 10px -7px black;
    display: flex;
    justify-content: flex-start;
}

.modal_title {
    padding: 15px 24px;
}

.back-btn {
    border: none;
    background: none;
    margin-left: 7px;
}

.close-btn {
    border: none;
    background: none;
    margin-right: 10px;
}

.close-btns {
    border: none;
    background: none;
    padding-left: 145px;
}

.close-icon {
    margin-bottom: 8px;
}

.modal_body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.imgstyle {
    height: 50%;
    width: 100%;
}

.titlesection {
    padding: 13px 15px;
}

.inr {
    color: #7ad117;
    font-size: 20px;
    font-weight: 500;
}

.food_info {
    font-size: 14px;
    color: rgb(115, 115, 115);
}

.options {
    margin: 1rem 1.5rem;
}

.space {
    width: 40px;
    display: inline-block;
}

.fav-title {
    background-color: rgb(239, 238, 238);
}

.fav_txt {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0 5px 15px;
}

.favTxt {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0 5px 15px;
    color: rgb(141, 141, 141);
}

.favlist-row {
    padding: 10px 0;
    border-bottom: 2px solid rgb(237, 237, 237);
}

.favImg {
    width: 91%;
    height: 100%;
    border-radius: 10px;
}

.menulist {
    margin: 0 1rem;
}

.notesTxt {
    font-size: 14px;
    padding: 25px 0 5px 17px;
    font-weight: 600;
}

.itemtitle {
    font-size: 18px;
}

.extra-label {
    font-size: 20px;
    color: rgb(141, 141, 141);
}

.checkBox {
    text-align: right;
}

.amt {
    font-size: 14px;
    color: #7ad117;
}

.input-checkbox {
    width: 28px;
    height: 18px;
}

.notesBox {
    margin: 0 1rem;
}

.input-text {
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 21px;
    outline: none;
}

.footer-div {
    position: sticky;
    padding: 15px;
    box-shadow: 0 3px 12px -2px black
}

.countItem {
    border: 2px solid #7ad117;
    border-radius: 10px;
    text-align: center;
    color: #7ad117;
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;

}

.addBasket-btn {
    background-color: #7ad117;
    color: white;
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 10px;
    text-align: left;
}

.addBasketInr {
    position: absolute;
    margin-left: -75px;
    margin-top: 6px;
    color: white;
    font-size: 18px;
}

.basket-btn {
    color: white;
    background-color: #adadad;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-weight: bold;
    padding: 10px;
}

.basket-btnss {
    color: white;
    background-color: #7ad117;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-weight: bold;
    padding: 10px;
}

.bsk-inr {
    padding-left: 35%;
}

.nav-pills .nav-link.active {
    color: white !important;
    background-color: #7ad117 !important;
    border-radius: 15px;
    border: none;
    padding: 0px 14px !important;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.option-label {
    color: rgb(203, 202, 202) !important;
    border: none !important;
    border-radius: 15px !important;
    padding: 0px 14px !important;
    font-size: 14px !important;
    margin-top: 15px !important;
}

.nav-tabs .nav-link {
    color: #adadad !important;
    font-size: 14px;
}

.item-label {
    width: 100%;
    border: none;
    outline: none;
    padding: 7px 7px 7px 16px;
    margin: 3px 0;
    border-bottom: 1px solid rgb(234, 233, 233);
    cursor: pointer;
}

.choicelabel {
    font-size: 18px;
    color: #adadad;
    cursor: pointer;
}

.selectedlabel {
    font-size: 18px;
    font-weight: 500;
}

.description {
    font-size: 12px;
}

.favoriteAmt {
    font-size: 14px;
    color: #7ad117;
}

.inr_col {
    text-align: right;
    padding-right: 25px !important;
}

.minusicon {
    margin-top: 6px;
    margin-left: 4px;
    cursor: pointer;
}

.plusicon {
    margin-top: 6px;
    margin-right: 4px;
    cursor: pointer;
}

.plusminusicon {
    color: #7ad117;
    height: 5%;
    width: 15%;
}

.count {
    color: #7ad117;
    padding: 0 13px;
}

::-webkit-scrollbar {
    width: 2px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background: rgb(159, 159, 159);
}

@media screen and (max-width:1024px) {
    .modal-content {
        height: 30rem;
        margin-top: 10%;
        position: absolute !important;
        left: 50%;
        transform: translate(-50%, 7%);
    }
    .header-divs {
        position: sticky;
        box-shadow: 0 3px 10px -7px black;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .modal_title {
        font-size: 18px;
        grid-column: 2/4;
        padding: 15px 24px;
        width: 228px;
    }


    .close-btns {
        border: none;
        background: none;
        grid-column: 4/-1;
        padding-left: 0 !important;
    }

    .favlist-row {
        padding: 10px 0;
        border-bottom: 2px solid rgb(237, 237, 237);
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }

    .col9 {
        grid-column: 1/3;
    }
    /* .favImg {
        width: 12vw;
        height: 17vh;
        border-radius: 10px;
    } */
}

@media screen and (max-width:768px) {
    .modal-content {
        height: 23rem;
        margin-top: 18%;
        left: 48%;
        position: absolute !important;
        transform: translate(-50%, 10%);
        width: 430px !important;
    }
    .header-divs {
        position: sticky;
        box-shadow: 0 3px 10px -7px black;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .modal_title {
        font-size: 18px;
        grid-column: 2/4;
        padding: 15px 24px;
        width: 228px;
    }


    .close-btns {
        border: none;
        background: none;
        grid-column: 4/-1;
        padding-left: 0 !important;
    }

    .favlist-row {
        padding: 10px 0;
        border-bottom: 2px solid rgb(237, 237, 237);
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }

    .col9 {
        grid-column: 1/3;
    }
}

@media screen and (max-width:481px) {
    .modal-content {
        height: 23rem;
        margin-top: 18%;
        left: 48%;
        position: absolute !important;
        transform: translate(-50%, 10%);
        width: 350px !important;
    }
    .header-divs {
        position: sticky;
        box-shadow: 0 3px 10px -7px black;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .modal_title {
        font-size: 18px;
        grid-column: 2/4;
        padding: 15px 24px;
        width: 228px;
    }


    .close-btns {
        border: none;
        background: none;
        grid-column: 4/-1;
        padding-left: 0 !important;
    }

    .favlist-row {
        padding: 10px 0;
        border-bottom: 2px solid rgb(237, 237, 237);
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }

    .col9 {
        grid-column: 1/3;
    }
}