.main-container{
    padding: 0 90px;
}

.bundle{
    margin: 2% 0;
}


.bundlescol{
    padding-top: 15px;
}

.starters{
    margin: 2% 0;
}

.main-dishes{
    margin: 2% 0;
}

.sides{
    margin: 2% 0;
}

.desserts{
    margin: 2% 0;
}

.signin-from{
    position: absolute;
    top:30%;
    left: 35%;
    width: 26rem;
}

.inner-div{
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.form-row{
    padding: 20px 0;
}

.inputField{
    padding: 8px;
    border: 1px solid #adadad;
    border-radius: 10px;
}

.row-btn{
    align-content: center;
}

.submitbtn{
    background-color: #7ad117;
    color: white;
    width: 100%;
    font-weight: bold;
    border: none;
    padding: 7px;
    border-radius: 15px;
    align-items: center;
}

.error{
    color: red;
    font-size: 14px;
}

@media screen and (min-width: 992px) and (max-width:1300px) {
    /* .main-container{
        max-width: 768px;
    } */
    .bundlerow{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    .col8{
        grid-column: 1/-1;
    }
    .basket-box{
        background-color: white;
        border-radius: 10px;
        width: 150%;
        padding: 25px;
    }

    .inner-row{
        width: 767px;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
    .main-container{
        padding: 0 50px;
    }
    .bundlerow{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
    .col8{
        grid-column:1/-1;
    }

    .inner-row{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
    }
    .bundlescol{
        padding-top: 15px;
    }
    .basket-box {
        background-color: white;
        border-radius: 10px;
        width: 50%;
        padding: 25px;
    }
    .title-bs {
        font-size: 18px;
        font-weight: 700;
    }
    .bundleName {
        font-size: 14px;
        font-weight: 500;
    }
    .amount{
        color: #7ad117;
        font-size: 16px;
        font-weight: 500;
        text-align: right;
    }
    .cartrow{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:480px) and (max-width:768px) {
    .main-container{
        padding: 0 40px;
    }
    .bundlerow{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
    .col8{
        grid-column:1/-1;
    }

    .inner-row{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
    }
    .bundlescol{
        padding-top: 15px;
    }
    .basket-box {
        background-color: white;
        border-radius: 10px;
        width: 50%;
        padding: 25px;
    }
    
    .cartrow{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
    }
    .title-bs {
        font-size: 18px;
        font-weight: 700;
    }
    .bundleName {
        font-size: 14px;
        font-weight: 500;
    }
}

@media screen and (min-width:320px) and (max-width:480px) {
    .main-container{
        padding: 0 16px;
    }
    .inner-row{
        display: grid !important;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .cartrow{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
    }
}
