.header-nav{
    padding: 0 55px;
}

.header {
    background-color: white;
    box-shadow: 0 3px 10px -7px black;
    position: sticky !important;
    top: 0;
    padding: 0 120px;
}

.header-row {
    display: flex;
    margin-left: -30px;
}

.nav-link {
    color: #7ad117 !important;
    font-weight: 600 !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.nav-link.active {
    color: white !important;
    background-color: #7ad117;
    border-radius: 25px;
}

/* basket */
.basket-box {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 25px;
}

.title-bs {
    font-size: 25px;
    font-weight: 700;
}

.titleorder {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px solid;
    padding: 18px 57px 5px 1px;
}

.from-name {
    color: #c8c9cc !important;
    font-weight: 600;
}

.check-btn {
    color: white;
    background-color: #adadad;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.checkout {
    background-color: #7ad117;
    color: white;
    font-weight: 700;
    border: none;
    padding: 7px;
    border-radius: 10px;
    text-align: left;
}

.checkoutAmt{
    color: white;
    font-size: 18px;
    padding-left: 50%;
    font-weight: normal;
}

/* Food item block */
.fooditem-box {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}

.noData {
    color: #adadad;
    font-size: 14px;
    padding: 20px;
}

.onclicks{
    cursor: pointer;
}
.bundle-title {
    font-size: 18px;
}


.foodDescription {
    color: #adadad;
    font-size: 14px;
}

.imgclass {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.amount {
    color: #7ad117;
    font-size: 16px;
    font-weight: 500;
}

.items-block {
    margin: 10px 0;
    line-height: 1.3;
}

.bundleName {
    font-size: 17px;
    font-weight: 500;
}

.cart-data {
    font-size: 18px;
    color: #adadad;
}

.closeIcon{
    margin-left: 13px;
    width: 18px;
    height: 24px;
    cursor: pointer;
}


@media screen and (min-width:992px) {
    .checkoutAmt {
        color: white;
        font-size: 18px;
        padding-left: 39%;
        font-weight: normal;
    }
}